.main_background {
  background: url("./assets/bg-image.png");
  left: 0px;
  right: 0px;
  height: 100vh;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  background-color: black;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.header__navigation {
  margin: 0 auto;
  width: 596px;
}

.navigation_left {
  padding: 0px 500px;
}

.navigation_right {
  padding: 0px 500px;
}

.navigation_left li {
  float: left;
}

.navigation_right li {
  float: right;
}

.navigation_left li a {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  margin: 0px 87px 0px 0px;
}

.navigation_left li a:hover {
  text-decoration: underline;
}

.navigation_right li a:hover {
  text-decoration: underline;
}

.navigation_right li a {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  margin: 0px 15px 0px 70px;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  padding: 183px 0px 0px 0px;
}

.motto {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: #ffffff;
  width: 504px;
  position: absolute;
  margin: 25px 550px;
}

.start {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 184px;
  height: 46px;
  background: #00afdb;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 101px 710px;
  border: none;
}

.start2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 184px;
  height: 46px;
  background: #00afdb;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  margin: 20px 1147px 314px 269px;
  border: none;
  padding: 15px 47px;
}

.image1 {
  margin: 0 auto;
  text-align: right;
}

.page2 {
  width: 1600px;
  height: 842px;
  background-color: #ffffff;
}

.promo__content {
  margin: 340px 840px 0px 269px;
  font-family: "Roboto", sans-serif;
}

.promo__content_idea {
  font-family: "Roboto", sans-serif;
}

promo__content_block {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

